<form method="post" action="/muppets/<%=@muppet.id%>">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="exampleInputUsername"><strong>Muppet Name:</strong></label>
            <input name="name" class="form-control" value="<%=@muppet.name%>">
        </div>
    </div><br>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="exampleInputPassword1"><strong>Muppet's Job: </strong></label>
            <input type="text" class="form-control" name="job" 
                value="<%=@muppet.job%>">
        </div>
    </div><br>
    <input type="hidden" type="hidden" name="_method" value="PATCH">
    <input type="submit" name="submit" value="Submit" class="btn btn-primary">

</form>