<% if !@muppets.empty?  %>

   <% @muppets.each do |muppet| %>
      <strong>
         <a href="/muppets/<%=muppet.slug%>"> <%= muppet.name%> </a>
      </strong>
      <%= muppet.job%> <br>
   <% end %>

<% else %>
   <p><strong>You need muppets for the show!</strong></p>
 <% end %>