<% if !@muppets.empty?  %>

   <% @muppets.each do |muppet| %>
      <strong>
         <a class="btn btn-light"href="/muppets/<%=muppet.slug%>"> <strong><%= muppet.name%> </strong> </a>
      </strong>
      <%= muppet.job%> <br>
   <% end %>

<% else %>
   <p><strong>You need muppets for the show!</strong></p>
 <% end %>