<h1>Add a Muppet</h1>
<form method="post" action="/muppets">
    <p><strong>Muppet Name: <input type="text" name="name" </strong></p>
    <p><strong>Muppet Job: <input type="text" name="job"></strong></p>
    <input type="submit" name="submit">
</form>