<h1>Login</h1>
<form method="POST" action="/login">
    <p><strong>Username: <input type="text" name="username"></strong></p>
    <p><strong>Password: <input type="text" name="password"></strong></p>
    <input type="submit" name="submit">
</form>