<h1>Please Sign Up to get Started</h1>

<form method="post" action="/">
    <p><strong>Username: <input type="text" name="username"></strong></p>
    <p><strong>Password: <input type="text" name="username"></strong></p>
    <input type="submit" name="submit">
</form>